table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    width: 50%;
}
tr:nth-child(odd) {
    background-color: #f1f1f1;
    border: 1px solid black;
}
th {
    border-right: 1px solid black;
}
p{
    color: #9854ff
}
button{
    color: white;
    background: linear-gradient(to bottom,#e6d3be,#61737f)
}